node_red_side/flows.json
[{"id":"8adc5c54.0c6ca","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2635ff68.677ae","type":"mqtt in","z":"8adc5c54.0c6ca","name":"","topic":"/topic/nodered_demo/","qos":"2","datatype":"auto","broker":"f8dc3416.ca1a08","nl":false,"rap":true,"rh":0,"x":210,"y":160,"wires":[["e81bc6c3.02bbc8","b3698eef.f0302","f47fba8e.297788"]]},{"id":"e81bc6c3.02bbc8","type":"debug","z":"8adc5c54.0c6ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":180,"wires":[]},{"id":"5d2e8a07.379cb4","type":"mqtt out","z":"8adc5c54.0c6ca","name":"","topic":"/topic/nodered_demo/command","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f8dc3416.ca1a08","x":670,"y":360,"wires":[]},{"id":"b3698eef.f0302","type":"ui_text","z":"8adc5c54.0c6ca","group":"de6d8408.f5ab58","order":0,"width":0,"height":0,"name":"","label":"Message received:","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":120,"wires":[]},{"id":"f47fba8e.297788","type":"ui_switch","z":"8adc5c54.0c6ca","name":"","label":"Trigger data flow","tooltip":"","group":"de6d8408.f5ab58","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":390,"y":300,"wires":[["5d2e8a07.379cb4"]]},{"id":"f8dc3416.ca1a08","type":"mqtt-broker","name":"Digital Ocean","broker":"http://165.227.107.127","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"de6d8408.f5ab58","type":"ui_group","name":"ESP32","tab":"1ae0134d.941c1d","order":1,"disp":true,"width":"6","collapse":false},{"id":"1ae0134d.941c1d","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]